.Projects_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;

    .Projects_top {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--background);;
        padding: 1rem;
        border-radius: var(--radius);;
    }

    .Projects_list {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        overflow: auto;
        scrollbar-width: none;
        color: var(--default-text);;

        .Projects_card {
            padding: 1.5rem;
            width: 460px;
            flex: 0 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            border-radius: var(--radius);;
            box-shadow: var(--shadow);;
            transition: var(--transition);
            background-color: var(--background);;
            margin: 20px;
            gap: 15px;

            img {
                width: 100%;
                height: auto;
            }

            .Projects_title {
                font-size: 2.5rem;
                font-weight: 700;
                color: transparent;
                -webkit-text-stroke: 1.5px var(--default-text);;
            }

            .Projects_description {
                font-size: 1.1rem;
                font-weight: 400;
            }

            .Projects_button {
                width: 100%;
                height: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .Projects_card:hover {
            box-shadow: 0 0 20px var(--text);;
            cursor: pointer;
            transition: var(--transition);
        }
    }

    .Projects_scroll {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .Projects_scroll_button:hover {
        cursor: pointer;
        color: var(--text);
        transition: var(--transition);
    }
}

@media screen and (max-width: 1024px) {
    .Projects_container {
        .Projects_list {
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .Projects_card {
                width: 80%;
            }
        }

        .Projects_scroll {
            display: none;   
        } 
    }
}

@media screen and (max-width: 768px) {
    .Projects_container {
        .Projects_list {
            width: 100%;
            .Projects_card {
                width: 90%;

                .Projects_title {
                    font-size: 2rem;
                }
            }
        }       
    }
}