.ScrollToTop_link {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: var(--radius);
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    opacity: 0;
    animation: fadeIn 1s forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
        transition: var(--transition);
    }

    .ScrollToTop_icon {
        width: 30px;
        height: 30px;
        margin: 10px;
        animation: moveTop 2.5s infinite;
        transition: var(--transition);
    }

    @keyframes moveTop {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
        
    }
}

.ScrollToTop_fadeOut {
    animation: fadeOut 1s forwards;

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .ScrollToTop_link {
        display: none;
    }

    .ScrollToTop_fadeOut {
        display: none;
    }
    
}