.Work_container {
    padding-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;

    .Work_topContainer {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--background);
        ;
        padding: 1rem;
        border-radius: var(--radius);
        ;
    }

    .Works {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 5%;


        .Work {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: var(--radius);
            background-color: var(--background);
            box-shadow: var(--shadow);
            padding: .5rem;
            transition: var(--transition);

            &:hover {
                transition: var(--transition);
                box-shadow: var(--shadow-hover);
            }

            .Work_top {
                width: 80%;
                height: 20%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                margin-top: 10px;

                .Work_name {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--title);
                }

            }

            .Work_description {
                width: 80%;
                height: auto;
                padding: 10px 0;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .Work_technologies {
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                .Work_technologie {
                    color: #00ACEE;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .Work_container {
        .Works {
            .Work {
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .Work_container {
        .Works {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .Work {
                width: 80%;
            }
        }
    }   
}

@media screen and (max-width: 768px) {
    .Work_container {
        .Works {
            .Work {
                width: 100%;
            }
        }
    }
}