.Hero_container {
    width: 80%;
    height: auto;
    min-height: 100vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .Hero {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .Hero_content {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .Hero_top {
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: var(--background);;
                border-radius: 12px;
            }

            .Hero_subtitle {
                width: 90%;
                font-family: 'Monsterrat', sans-serif;
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--text);;
                margin-bottom: 1rem;
                text-align: center;
            }

            .Hero_socials {
                width: auto;
                max-width: 80%;
                flex-wrap: wrap;
                height: auto;
                min-height: 10%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }

        .Hero_image {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .Hero_container {
        width: 90%;
        margin-top: 12%;

        .Hero {
            gap: 20px;

            .Hero_content {
                width: 100%;
                gap: 20px;

                .Hero_top {
                    width: 90%;
                    gap: 10px;
                }

                .Hero_subtitle {
                    font-size: 1.5rem;
                }
            }

            .Hero_image {
                width: 100%;
            }
        }
    }   
}

@media screen and (max-width: 768px) {
    .Hero_container {
        .Hero {
            flex-direction: column;
            gap: 20px;

            .Hero_content {
                width: 100%;
                gap: 20px;

                .Hero_top {
                    width: 90%;
                    flex-direction: column;
                    gap: 10px;
                }

                .Hero_subtitle {
                    font-size: 1.2rem;
                }
            }

            .Hero_image {
                width: 70%;
            }
        }
    }   
}

@media screen and (max-width: 480px) {
    .Hero_container {
        .Hero {
            .Hero_content {
                .Hero_top {
                    flex-direction: column;
                    gap: 10px;
                }
            }
            .Hero_image {
                width: 100%;
            }
        }
    }   
}
