@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}

:root {
  --radius: 12px;
  --background: #fff;
  --background-invert: #000;
  --color: #000;
  --color-invert: #fff;
  --border: #e4e4e7;
  --border-cursor: #000;
}

.light {
  --background: #fff;
  --background-invert: #000;
  --color: #000;
  --color-invert: #fff;
  --border: #e4e4e7;
  --border-cursor: #000;
}

.dark {
  --background: #000;
  --background-invert: #fff;
  --color: #fff;
  --color-invert: #000;
  --border: #27272a;
  --border-cursor: #fff;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: #000;
  background: var(--background);
  font-family: 'Inter', sans-serif;
}