.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);;
  background-image: url("../assets/dot.svg");
  background-attachment: fixed;
}