.Title {
    color: var(--text-effect);;
    -webkit-text-stroke: 3px var(--default-text);;
    font-family: 'Monsterrat', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    background-color: var(--background);;
    border-radius: var(--radius);;
}

@media screen and (max-width: 1024px){
    .Title {
        font-size: 5rem;
    }    
}

@media screen and (max-width: 768px){
    .Title {
        font-size: 4rem;
    }    
}

@media screen and (max-width: 480px){
    .Title {
        font-size: 3rem;
        -webkit-text-stroke: 2px var(--default-text);;
    }    
}