.Title {
    color: transparent;
    -webkit-text-stroke: 3px #000;
    font-family: 'Monsterrat', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    background-color: #fff;
    border-radius: 12px;
}