.Title {
    color: transparent;
    -webkit-text-stroke: 3px #000;
    font-family: 'Monsterrat', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    background-color: #fff;
    border-radius: 12px;
}

@media screen and (max-width: 1024px){
    .Title {
        font-size: 5rem;
    }    
}

@media screen and (max-width: 768px){
    .Title {
        font-size: 4rem;
    }    
}

@media screen and (max-width: 480px){
    .Title {
        font-size: 3rem;
        -webkit-text-stroke: 2px #000;
    }    
}