.Skills_container {
    padding-top: 5%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .Skills_top {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 12px;        
    }

    .Skills {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        gap: 30px;

        .Skills_item {
            width: 130px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
            border-radius: 12px;

            img {
                width: 60%;
                height: 60%;
            }
        }

        .Skills_item:hover {
            box-shadow: 0 0 20px #808080;
            cursor: pointer;
        }
    }
}