@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}

:root {
  --radius: 12px;
  --background: #fff;
  --background-invert: #000;
  --color: #000;
  --color-invert: #fff;
  --secondary: #a3a3a3;
  --border: #e4e4e7;
  --border-cursor: #000;
  --input-background: #f9fafb;
  --tech: #f7f7f7;
}

.light {
  --background: #fff;
  --background-invert: #09090b;
  --color: #000;
  --color-invert: #fff;
  --secondary: #a3a3a3;
  --border: #e4e4e7;
  --border-cursor: #000;
  --input-background: #f9fafb;
  --tech: #f7f7f7;
}

.dark {
  --background: #09090b;
  --background-invert: #fff;
  --color: #fff;
  --color-invert: #000;
  --secondary: #a3a3a3;
  --border: #27272a;
  --border-cursor: #fff;
  --input-background: #121212;
  --tech: #202020;
}

* {
  scroll-behavior: smooth;
}

body {
  color: #000;
  background: var(--background);
  font-family: 'Inter', sans-serif;
}


/* Couleur du selecteur de texte */
::-moz-selection {
  /* Code pour Firefox */
  color: var(--color-invert);
  background: var(--background-invert);
}

::selection {
  color: var(--color-invert);
  background: var(--background-invert);
}

/* Désactive du la barre de défilement */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}