@import 'tailwindcss';

@theme {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --border-width-1: 1px;

  --border-color-custom: var(--border);
  --border-color-cursor: var(--border-cursor);

  --radius-custom: var(--radius);

  --color-background: var(--background);
  --color-backgroundeven: var(--background-even);
  --color-color: var(--color);
  --color-coloreven: var(--color-even);
  --color-secondary: var(--secondary);
  --color-carouselactive: var(--carousel-active);
  --color-carouselinactive: var(--carousel-inactive);
  --color-carousel: var(--carousel);
  --color-tertiary: var(--tertiary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}

:root {
  --radius: 12px;
  --background: #000;
  --background-even: #fff;
  --color: #fff;
  --color-even: #000;
  --secondary: #717173;
  --carousel-active: #8D969E;
  --carousel-inactive: #AFB5BB;
  --carousel: #F7F7F7;
  --tertiary: #F7F7F7;
}

html,
body {
  scroll-snap-type: y mandatory;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--color);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}


/* Désactive du la barre de défilement */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}