.Navbar_container {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--default-text);
    font-weight: 500;
    font-family: 'Monsterrat', sans-serif;
    background-color: var(--background); 
    transition: all 0.3s ease-in-out;

    .Navbar_title {
        width: 15%;
        height: 100%;
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        outline: none;
        border-bottom-right-radius: var(--radius);;
        font-size: 1.5rem;


        img {
            width: auto;
            height: 80%;
        }

    }

    .Navbar_links {
        width: 30%;
        height: 100%;
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom-left-radius: var(--radius);;

        .Navbar_link {
            text-decoration: none;
            outline: none;
            border: none;
            color: var(--text);
            font-size: 1.3rem;
            font-weight: 500;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid transparent;
            transition: color 0.3s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .Navbar_link:hover {
            border-radius: var(--radius);;
            border: 1px solid var(--border);
        }

        .Navbar_linkActive {
            color: var(--default-text);
            border-radius: var(--radius);;
            border: 1px solid var(--border);
            transition: color 0.3s ease-in-out;
        }

    }

    .Navbar_menu {
        display: none;
    }
}

@media screen and (max-width: 1440px){
    .Navbar_container {
        justify-content: center;
    }   
}

@media screen and (max-width: 1280px){
    .Navbar_container {
        justify-content: center;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1024px){
    .Navbar_container {
        justify-content: center;
        .Navbar_title {
            width: 20%;
            font-size: 1.3rem;
        }

        .Navbar_links {
            width: 50%;

            .Navbar_link {
                font-size: 1rem;
            }
        }
    }   
}

@media screen and (max-width: 768px){
    .Navbar_container {
        width: 10%;
        left: 0;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: var(--radius);

        .Navbar_links {
            display: none;
        }
    
        .Navbar_title {
            display: none;
        }

        .Navbar_menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: var(--text);
            transition: color 0.3s ease-in-out;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }   

    

    .Modal_container {
        position: fixed;
        top: 8%;
        left: 0;
        width: auto;
        height: auto;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .Modal_link {
            text-decoration: none;
            outline: none;
            border: none;
            color: var(--text);
            font-size: 1.3rem;
            font-weight: 500;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid transparent;
            transition: color 0.3s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .Modal_link:hover {
            border-radius: var(--radius);;
            border: 1px solid var(--border);
        }

        .Modal_linkActive {
            color: var(--default-text);
            border-radius: var(--radius);;
            border: 1px solid var(--border);
            transition: color 0.3s ease-in-out;
        }
    }
}