.Skills_container {
    padding-top: 5%;
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .Skills_top {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 12px;        
    }

    .Skills {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 50px;
        justify-items: center;
        align-items: center;

        .Skills_item {
            margin: 30px;
            width: 130px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            transition: all 0.3s ease-in-out;

            img {
                width: 60%;
                height: 60%;
            }
        }

        .Skills_item:hover {
            box-shadow: 0 0 20px #808080;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            animation: pulse 0.8s infinite;
        }

        .Skills_item_active {
            animation: pulse 0.8s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .Skills_container {
        .Skills {
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            grid-gap: 40px;
        }
    }   
}